<!-- Header -->
<header class="masthead">
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">Welcome To Fin Reads</div>
      <div class="intro-heading text-uppercase">All Your Daily Finance in one Place</div>
      <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger">Find Reads</a>
    </div>
  </div>
</header>
