<!-- Header -->
<header class="masthead">
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">Welcome To Fin Reads</div>
      <div class="intro-heading text-uppercase">Your Daily Finance on one Page</div>
      <a class="button">Find Reads</a>
    </div>
  </div>
</header>
