 @import "bootstrap";
 @import "font-awesome";
 @import "header";
 @import "contacts";
 @import "links";

 img {
   width: 60%;
 }
 h2 {
   color: #311B92;
   text-decoration: underline;
   font-family: 'Open Sans', sans-serif;
   font-weight: 800;
   margin-bottom: 1em;
 }

a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;

  color: #512DA8;
  line-height: 120%;
  &:hover {
    font-size: 105%;
    color: #9575CD;
  }
}

a:link {
  text-decoration: none;
}



 .link-card {
   display: block;
   color: #283c46;
   background-color: #fff;
   box-shadow: 0 1px 2px #aa9c84;
   float: none;
   margin: 0 auto;
   padding: 1.5rem;
   height: 100%;
   margin-bottom: 2em;


   &:hover {
     text-decoration: none;
     color: #283c46;
     box-shadow: 0 5px 5px #aa9c84;
   }
 }

body {
  background: #f3e5f547;
}

nav {
  margin-bottom: 2em;
  background: #f3e5f540;
}

.published {
  color: #BDBDBD;
  font-size: 75%;
}


header {
  margin-bottom: 3em;
}

#mainNav .navbar-brand {
  background: -webkit-linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
	background: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
  font-weight: 900;
  font-size: 250%;
  &:hover {
    font-size: 265%;
  }
}
.btn-primary {
  background: #512DA8;
  border-color: #512DA8;
}

.hidden {
  display: none
}
