#show-more-blog, #show-more-paper, #show-more-podcast, #show-more-quant {
  color: #512DA8;
  background: #fff;
  margin-bottom: 3em;
  border-radius: 50%;
  border: 1px dashed #512DA8;
  padding: 7px;
  height: 60px;
  background: #fff;
  &:hover {
    box-shadow: 8px 10px 20px 0px rgba(46,61,73,0.15);
  }
}
