<nav class="navbar navbar-inverse" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand"><%= image_tag("finReads.png") %></a>
		</div>
			<div class="nav navbar-nav navbar-right">
				<li><a href="#">Contact</a></li>
		</div>
	</div>
</nav>
